.lingo {
    background: linear-gradient(to bottom, #D3D3D3 0%, #1D1D1D 100%);
    border-collapse: collapse;
}

.lingo > tbody > tr > td {
    padding: 0;
    border-color: #5d5d5d;
    border-width: 3px;
    border-style: solid;
    background: rgba(0, 122, 229, 0.7) !important;
}

.lingo-letter {
    text-align: center;
    vertical-align: middle;

    font-family: "Microsoft Sans Serif", Arial, sans-serif;
    font-size: 53px;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.5);

    color: white;
    background-color: transparent;

    width: 75px;
    height: 75px;
    box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.5);
}

.lingo-letter > div {
    width: 75px;
    height: 75px;
}

.lingo-letter > div:focus {
    background-color: rgba(0, 0, 0, 0.4);
}

.lingo-letter-red {
    background: rgba(219, 0, 0, 0.7) !important;
}

.lingo-letter-yellow > div {
    background: rgba(255, 248, 45, 0.7) !important;
    border-radius: 100%;
}

.lingo-letter-win {
    background-color: rgba(255, 255, 255, 1) !important;
    transition: background-color 150ms linear;
}

.lingo-progress {
    background-color: #282828;
    border-color: #5d5d5d;
    border-width: 2px;
    border-style: solid;
    width: 300px;
    height: 15px;
}

.lingo-progress-bar {
    height: 100%;
    background: linear-gradient(to right, #3d90db 0%, #0a5fab 100%);
}

@keyframes pulse {
    0% { background-color: transparent; }
    65% { background-color: #ffffff; }
    100% { background-color: transparent; }
}
