#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    background-color: rgba(0,0,0,0.7); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
}

#overlay > div {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 35px;
    color: white;
    text-align: center;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

.splashscreen {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100vw;
    height: 100vh;
    background-image: url(../img/background.png);
}

.splashscreen > img {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
