body {
    margin: 0;
    background-color: #0a2346;
    background: url(../img/background.jpg);
    font-family: "Microsoft Sans Serif", Arial, Tahoma, sans-serif;
}

.frame {
    margin-top: 10px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 15px 20px;
}

.control-label {
    padding-top: 3px;
}

#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    background-color: rgba(0,0,0,0.7); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
}

#overlay > span {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 35px;
    color: white;
    text-align: center;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

